#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MyCard {
  padding: 1em;
  border-style: solid;
  border-color:indianred;
  border-width: 2px;
  background-color: #0000007A;
}

.countbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formData {
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding-left: 2em;
  gap: 10px;
  justify-content: flex-start;
}

.tasklist {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 10px;
  line-height: 0px;
  padding-left: 20%;
  padding-right: 20%;
}